
.td_address {
				
    width: 200px;
    height: 80px;
    
    overflow: auto;
}
.user_email{
    height: 70px; 
    color: black; 
    background-color: blue;
}
.user_email h1{
    width: 62%; 
    color: black; 
    margin-left: 352px;
}


.add_employee_button{
    height: 70px; 
    color: black; 
    font-size: 35px;
}

