
.employee_login_detail{
    height: 70px;
    color: black;
    background-color: blue;
}

.employee_login_detail h1{
    width: 62%; 
    color: black;
    margin-left: 352px";
}
a .employee_logout{
    height: 70px;
    color: black; 
    font-size: 35px";
}
a .employee_add_data{
    height: 70px; 
    color: black; 
    font-size: 100px";
}