<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>index</title>
	</head>
	<body>
		<a href="employee/home/">Employee management</a>
		<center><h1>This is index page</h1></center>
		<center>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, vitae
				itaque natus delectus tenetur ducimus magni consequuntur beatae nam
				voluptatem numquam harum sequi quasi molestias.
			</p>
		</center>
		{% if is_active %}
		<center><h1>Today date is {{date}}</h1></center>
		<center><h2>My name is {{name}}</h2></center>
		<center><h3>student details is {{student_data.Name}}</h3></center>
		{% endif %}
		<hr />
		<form action="/index/" method="POST">
			{% csrf_token %}
			<input type="text" name="name" />
			<button>send</button>
		</form>
	</body>
</html>
